.flounder, .merlin, .cruella, .ursala, .jafar, .pocahontas, .matchTitle {
  display: none;
}

body {
  background-color: #006e99;
}

.mainHeader{
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 30px;
  border: outset rgb(255, 254, 255);
  border-width: 10px;
  /* border-radius: 20px; */
  background-color: #006e99);
  font-family: 'marker felt', fantasy;
}
#ageBox {
  padding: 10px;
  text-align: center;  
  border: outset rgb(255, 254, 255);
  /* border-radius: 10px; */
  background-color: #006e99);
  font-family: 'marker felt', fantasy;
}
#colorBox {
  padding: 10px;
  text-align: center;  
  border: outset rgb(255, 254, 255);
  /* border-radius: 10px; */
  background-color: #006e99);
  font-family: 'marker felt', fantasy;
}
#locationBox {
  padding: 10px;
  text-align: center;
  /* border: outset rgb(255, 254, 255); */
  /* border-radius: 10px; */
  background-color: #006e99);
  font-family: 'marker felt', fantasy;
}
#match {
  padding: 10px;
  text-align: center;
  border: outset rgb(255, 254, 255);
  /* border-radius: 10px; */
  background-color: #006e99);
  font-family: 'marker felt', fantasy;
}
.matchTitle { 
  padding: 10px;
  text-align: center;  
  border: outset rgb(255, 254, 255);
  /* border-radius: 10px; */
  background-color: #006e99);
  font-family: 'marker felt', fantasy;
}